ul{
    list-style-type: none;
    
}
li{
    display: inline-block;
    margin: 16px;
    padding: 16px;
    border: 16px;
}
div{
    background-color: lightgrey;
}
.bold{
    font-weight: bold;
}
body{
    font-family: "Poppins",sans-serif;
}